<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/style1.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/demo1.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/drop.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/styletable.css')}}" >


    <title>Liste des Blagues</title>
</head>
<body>
<div class="container">
    <header>
        <h1><span align="center">All For Kids</span></h1><br>
        <span align="center"> <h1>Espace Administration des loisirs</h1></span>


    </header>

    <header><h1><span align="center">Liste des Blagues</span></h1></header>
    <table border="2px">
        <tr><td>Id</td><td>Titre</td><td>Desciption</td><td>Suppression</td><td>Modification</td></tr>
        {% for m in blague  %}
            <tr>
                <td>{{ m.Id }}</td>
                <td>{{ m.Titre }}</td>
                <td>{{ m.Description }}</td>
                <td><a href="{{ path('_supp_blague',{'id':m.Id}) }}">delete here</a> </td>
                <td><a href="{{ path('_modif_blague',{'id':m.Id}) }}">update here</a> </td>

            </tr>
        {% endfor %}

    </table>
    <header><h1><span align="center"> <a href="{{ path('_recherche_blague')}}">Cliquez ici pour effectuer une recherche</a>
</span></h1></header>



</div>
</body>
</html>










